*session*
*.bak
/auto-save-list/
/ac-comphist.dat
/backups/
/elpa/
/transient/
/bookmarks
/recentf
/request/
/emacs_config.org
/snippets/
*mc-lists*
*#*
*image-dired*
*url*
*personal/personal_information.el
/projectile-bookmarks.eld
